.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Database
*.sqlite

public/uploads/*
!public/uploads/.gitkeep
public/uploads/photos/*
!public/uploads/photos/.gitkeep
public/uploads/documents/*
!public/uploads/documents/.gitkeep